header{
    background-image: url(img/parallax1.jpg);
    height: 100vh;
    ul{
        .nav-link{
            padding:0rem;

            .icon_header{
                font-size: 0.7rem;
                padding-right:0.3rem;

                a{
                    padding-top:1rem;
                }
            }
        }
    }
    h3{
        letter-spacing: 0.5rem;
    }

    .icon_search{
        width: 25%;
    }
}

@media screen and (max-width: 766px) {

    .website{
        display: none;
    }

    .navbar-collapse{
        text-align: right;
    }




    // .nav_bar{
    //     width: 75%;
    // }

    // .nav_bar1{
    //     width: 25%;
    // }

  }

  @media screen and (min-width: 766px) {

    .navbar-brand{
        display: none;
    }

    .icon_search{
        width: 100%;
        text-align: right;
    }

  }