header{
    background-image: url(img/parallax1.jpg);
    height: 100vh;
    ul{
        .nav-link{
            padding:0rem;

            .icon_header{
                font-size: 0.7rem;
                padding-right:0.3rem;

                a{
                    padding-top:1rem;
                }
            }
        }
    }
    h3{
        letter-spacing: 0.5rem;
    }
}