.images{
    div{
        div{
            img{
                width:90%;
                height:90%;
            }
        }
    }
}

.icon_main{
    font-size: 0.7rem;
    padding-right: 0.5rem;
}

.good_at{
    word-spacing: 0.3rem;
    letter-spacing: 0.5rem;
}

#slide2{
    h4{
        letter-spacing: 0.5rem;
    }
}
.load_more{
    background-color: #f3eded !important;
}

.contact{
    letter-spacing: 0.7rem;
}
main{

    .section1{
        width: 50% ;
    }

    .images{
        width: 75%;
    }

    .section3{
        width: 50%;
    }
}

#slide1 {
    background: url("img/parallax1.jpg") center no-repeat; 
    background-size: cover;
    width: 100%;
 }
 
 #slide2 {
    background: url("img/parallax2.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
 }
 
 #slide3 {
    background: url("img/parallax3.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height:400px;
 }

 .section4{
    margin-bottom: 7rem;
}





@media screen and (max-width: 640px){
    main{
        .section1{
            width: 95%;
        }

        .images{
            width: 95%;
        }

        .section3{
            width: 100%;
        }

    }

    .images{
        div{
            div{
                img{
                    width:100%;
                    height:100%;
                }
            }
        }
    }

    .img_4{
        margin-bottom: 2rem;
    }
    
    .my_work{
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    main{
        .section1{
            width: 100%;
        }

        .images{
            width: 100%;
        }

        .section3{
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {

    #slide1 {
        background: url("img/parallax1.jpg") center no-repeat fixed; 
        background-size: cover;
        width: 100%;
     }
     
     #slide2 {
        background: url("img/parallax2.jpg") center no-repeat fixed;
        background-size: cover;
        width: 100%;
        height:400px;
     }
     
     #slide3 {
        background: url("img/parallax3.jpg") center no-repeat fixed;
        background-size: cover;
        width: 100%;
        height:400px;
     }

     .my_work{
        width: 25%;
    }

  }