@import "header";
@import "main";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


#slide1 {
    background: url("img/parallax1.jpg") center no-repeat fixed; 
    background-size: cover;
    width: 100%;
 }
 
 #slide2 {
    background: url("img/parallax2.jpg") center no-repeat fixed;
    background-size: cover;
    width: 100%;
    padding: 10rem;
 }
 
 #slide3 {
    background: url("img/parallax3.jpg") center no-repeat fixed;
    background-size: cover;
    width: 100%;
    padding: 10rem;
 }

 body{
   font-family: 'Lato', sans-serif;
   color:gray;
 }

